@model IEnumerable<DarkHeresy.ViewModels.CharacterViewModel>

@{
    ViewData["Title"] = "Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css" />
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Characters</h3>
            </div>
            <div class="panel-body">
                <table id="table" class="table table-striped table-bordered table-hover table-responsive" >
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CharacterName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PlayerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WeaponSkill)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BallisticSkill)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Strength)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Toughness)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Agility)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Intelligence)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Perception)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Willpower)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fellowship)
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    <button class="btn btn-primary" type="button" asp-action="Create">Create New</button>
</p>

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $("#table").DataTable({
                "ajax": {
                    "url": "/api/Characters",
                    dataSrc: ""
                },
                "columns": [
                    {
                        "data": "characterName",
                        "render": function (data, type, character) {
                            return "<a href='/Characters/Details/" + character.id + "'>" + character.characterName + "</a>";
                        }
                    },
                    { "data": "playerName" },
                    { "data": "weaponSkill" },
                    { "data": "ballisticSkill" },
                    { "data": "strength" },
                    { "data": "toughness" },
                    { "data": "agility" },
                    { "data": "intelligence" },
                    { "data": "perception" },
                    { "data": "willpower" },
                    { "data": "fellowship" }
                ]
            });
        });

    </script>
}

